# --- System Files ---
.DS_Store
**/.DS_Store

# --- Virtual Environment ---
ad-satellite-telemetry/
.venv/
venv/
env/

# --- Research Literature ---
docs/papers/

# --- Python & Notebook Artifacts ---
__pycache__/
*.pyc
.ipynb_checkpoints/

# --- Exam material ---
exam_material/

# --- LaTeX Auxiliary Build Files ---
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.snm
*.synctex.gz
*.toc
*.pyg
*.out
*.vrb
_minted-*
